@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 1rem;
}

:root body {
  background-color: rgb(175, 185, 240);
}

:any-link, :any-link:visited {
  text-decoration: none;
  letter-spacing: 1px;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

:any-link:hover { 
  transition-duration: 2s;
  transform: scale(1.075);
  font-weight: bolder;
  color:rgb(226, 44, 44);
}