@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 1rem;
}

:root body {
  background-color: rgb(175, 185, 240);
}

:any-link, :any-link:visited {
  text-decoration: none;
  letter-spacing: .75px;
  font-size: .85rem;
  color: white;
}

:any-link:hover { 
  transition-duration: 400ms;
  transform: scale(1.1);
  color:rgb(60, 45, 105);
}