@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 1rem;
}

:root body {
  background-color:rgb(214, 231, 241);
}

:any-link, :any-link:visited {
  text-transform: lowercase;
  text-decoration: none;
  letter-spacing: 1.25px;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(240, 250, 255);
}

:any-link:hover { 
  transition-duration: 2s;
  transform: scale(1.1);
  font-weight: bold;
  color:rgba(35, 35, 85);
}