.togglecomp {
  display: flex;
}

/* Styles for toggler found online. */

.hiddenCheckbox {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.hiddenCheckbox input[type="checkbox"] {
  display: none;
}

.hiddenCheckbox .switchTheme {
  position: absolute;
  cursor: pointer;
  background-color: rgb(110, 110, 190);
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.4s ease;
}

.hiddenCheckbox .switchTheme::before {
  position: absolute;
  content: "";
  background-color: rgb(55, 55, 125);
  border-radius: 50%;
  top: 2px;
  width: 21px;
  height: 21px;
  left: 2px;
  transition: transform 0.3s ease;
}

.hiddenCheckbox input[type="checkbox"]:checked + .switchTheme::before {
  transform: translateX(25px);
  background-color: rgb(45, 140, 235);
}

.hiddenCheckbox input[type="checkbox"]:checked + .switchTheme {
  background-color: rgb(160, 190, 235)
}